/benchmarks/algorithms/LSH/
/benchmarks/algorithms/LSH_Forest/
/benchmarks/algorithms/FLANN/Centroids/
/benchmarks/algorithms/FLANN/index_
/data/raw_data/
/data/wdbc_train_test_set.hdf5
/data/NYtaxis_train_test_set.hdf5
/data/NYtimes_train_test_set.hdf5
/data/GLOVE_train_test_set.hdf5
/data/GLOVE10000_train_test_set.hdf5
/data/GLOVE100000_train_test_set.hdf5
/data/MNIST_train_test_set.hdf5
/benchmarks/NearestNeighbors/gaussian-clouds-npc200-True/
/benchmarks/logs/gaussian-clouds-npc200-True/
/benchmarks/config/gaussian-clouds-npc200-True/
.idea

